<!doctype html>
<html lang='en' style='height: auto;'>
	<head>
		<title>The Boston Globe - graphic</title>
		<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
		<meta http-equiv='Pragma' content='no-cache' />
		<meta http-equiv='Expires' content='0' />

		<script>
			function loadCSS(e,n,o,t){"use strict";var i=window.document.createElement("link"),f=n||window.document.getElementsByTagName("script")[0],a=window.document.styleSheets;return i.rel="stylesheet",i.href=e,i.media="only x",t&&(i.onload=t),f.parentNode.insertBefore(i,f),i.onloadcssdefined=function(e){for(var n,o=0;o<a.length;o++)a[o].href&&a[o].href===i.href&&(n=!0);n?e():setTimeout(function(){i.onloadcssdefined(e)})},i.onloadcssdefined(function(){i.media=o||"all"}),i}!function(e){var n="https://apps.bostonglobe.com/common/font/",o=e.document;if("querySelector"in o){var t=function(e){if(!("FontFace"in e))return!1;var n=new e.FontFace("t",'url( "data:application/font-woff2," ) format( "woff2" )');return n.load()["catch"](function(){}),"loading"===n.status}(e),i=navigator.userAgent,f=n+"woff.css";t?f=n+"woff2.css":i.indexOf("Android")>-1&&i.indexOf("like Gecko")>-1&&-1===i.indexOf("Chrome")&&(f=n+"ttf.css"),loadCSS(f)}}(this);
		</script>

		<noscript><link href='https://apps.bostonglobe.com/common/font/nojs-fonts.css' rel='stylesheet'></noscript>

		<!-- see http://bostonglobe.github.io/news-apps-style-guide for how to use base.css -->
		<link rel='stylesheet' href='https://apps.bostonglobe.com/common/css/base/base-1.2.0.css'>

		<!-- smoosh -->
		<link rel='stylesheet' href='css/main.css'>
		<!-- endsmoosh -->

		<link rel='shortcut icon' href='https://www.bostonglobe.com/rw/SysConfig/WebPortal/BostonGlobe/Framework/images/favicon.ico' />
	</head>
	<body style='height: auto;'>

		<!-- *** DO NOT DELETE *** -->
		<div id='globe-graphic-container' style='height: 100%; overflow: hidden;'>

			<!--
			==========================
			(begin) graphic HTML here
			==========================
			-->
    <h3 class="graphic-hed">Underserved population</h3>
    <h4 class="graphic-subhed">
    	Of an estimated 238,000 people in Massachusetts with serious mental illness, only roughly 21,000 are under the care of the state Department of Mental Health. Every year, the agency accepts an average of 2,080 clients out of 4,900 applications. Each figure represents 1,000 people.
    </h4>

    <div class="key">
    	<div class="key__item">
	    	<span class="default">
	    		<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__default'>
					<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
					</path>
				</svg>
			</span>
 			<span class="key__text">Severe mental illness
 			</span> 
 		</div>
	    <div class="key__item">
	    	<span class="served">
	    		<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__served'>
					<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
					</path>
				</svg>
			</span> 
			<span class="key__text">Under care of DMH 
			</span>
		</div>
    
	    <div class="key__item">
			<span class="approved">
				<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__approved'>
					<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
					</path>
				</svg>
			</span> 
			<span class="key__text">Accepted each year 
			</span>
	    </div>
	</div>
    <div class="person">
    	{{#loop 1 216 1}}
	    	<div class="person__default">
	    		<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__default'>
	<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
	</path>

</svg>
	    	</div>
    	{{/loop}}
     	{{#loop 1 20 1}}
	    	<div class="person__served">
	    		<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__served'>
	<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
	</path>

</svg>
	    	</div>
        {{/loop}}
        {{#loop 1 2 1}}
	    	<div class="person__approved">
	    		<svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.5 16" style="enable-background:new 0 0 6.5 16;" xml:space="preserve" x="0px" y="0px" class='person__icon__approved'>
	<path d="M3.3,2.5c0.7,0,1.3-0.6,1.3-1.3S3.9,0,3.3,0S2,0.6,2,1.3S2.6,2.5,3.3,2.5z M5.5,3.5H1       c-0.6,0-1,0.4-1,1v4C0,8.8,0.2,9,0.5,9S1,8.8,1,8.5V6.3C1,6.1,1.1,6,1.3,6s0.3,0.1,0.3,0.3v9c0,0.4,0.3,0.8,0.8,0.8       S3,15.7,3,15.3V10h0.5v5.3c0,0.4,0.3,0.8,0.8,0.8S5,15.7,5,15.3v-9C5,6.1,5.1,6,5.3,6s0.3,0.1,0.3,0.3v2.3C5.5,8.8,5.7,9,6,9       s0.5-0.2,0.5-0.5v-4C6.5,3.9,6.1,3.5,5.5,3.5z">
	</path>

</svg>
	    	</div>
        {{/loop}}
    </div>



			<div class='source-and-credit'>
				<p class='source'><span>SOURCE: Mass. Department of Mental Health, Substance Abuse and Mental Health Services Administration</span></p>
				<p class='credit'><span>Michael Workman / Globe Staff</span></p>
			</div>

			<!--
			==========================
			(end) graphic HTML here
			==========================
			-->

		</div>

		<!-- *** DO NOT GO BELOW HERE *** -->
		<!-- smoosh -->
		<script src='js/bundle.js' type='text/javascript'></script>
		<!-- endsmoosh -->
	</body>
</html>
