//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)
.person__icon__default
	fill #e0ecf4
	width 1rem
	margin-left 0.1rem
.person__icon__served
	fill #9ebcda
	width 1rem
	margin-left 0.1rem
.person__icon__approved
	fill #8856a7
	width 1rem
	margin-left 0.1rem
.graphic-hed
	font-family $miller
	font-weight 700
	font-size 2.3rem
	margin-bottom 1rem
.graphic-subhed
	margin-bottom 1rem
.key
	margin-bottom 1rem
	font-family $sans
	display flex
	flex-wrap wrap
	align-items center
	justify-content space-between
	&__text
		margin-left 0.5rem
.person
	display flex
	flex-wrap wrap




